/* Final Year Project Name : Responsive Login Page */
/* Google font */
@import  url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* General CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
/* Custom CSS */
.container {
    width: 100%;
    min-height: 100vh;
    background: url("./uploaded_img/Maintaining-good-growth-of-the-electronics-industry.jpg")
    no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container .login-box {
    position: absolute;
    width: 390px;
    height: 420px;
    background-color: transparent;
    border: 2px solid rgba(23, 176, 46, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);

}
.login-box h2 {
    font-size: 28px;
    color:hsl(260, 77%, 12%);
    text-align: center;
}

.login-box .input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:#fff;
    padding: 0 35px 0 5px;
}

.input-box input::placeholder {
color: #380933;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}

.login-box .remember-forgot {
    margin: -15px 0 15px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    margin-right: 3px;
}

.login-box button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: all 0.3s;

}
.login-box button:hover {
    background: #1f73c9;
    color: #fff;
}

.login-box .register-link {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.remember-forgot a,
.register-link a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover,
.register-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 460px){
    .container .login-box{
        width: 350px;
    }

    .login-box .input-box {
        width: 290px;
    }

}

@media (max-width: 360px) {
.container .login-box {
    width: 100%;
    height: 100vh;
    border: none;

}
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(0, 255, 115);
    display: flex;
    justify-content: space-between;
    align-items: center;

}/* Final Year Project Name : Responsive Login Page */
/* Google font */
@import  url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* General CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
/* Custom CSS */
.container {
    width: 100%;
    min-height: 100vh;
    background: url("./uploaded_img/Maintaining-good-growth-of-the-electronics-industry.jpg")
    no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container .login-box {
    position: absolute;
    width: 390px;
    height: 420px;
    background-color: transparent;
    border: 2px solid rgba(23, 176, 46, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);

}
.login-box h2 {
    font-size: 28px;
    color:hsl(260, 77%, 12%);
    text-align: center;
}

.login-box .input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:#fff;
    padding: 0 35px 0 5px;
}

.input-box input::placeholder {
color: #380933;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}

.login-box .remember-forgot {
    margin: -15px 0 15px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    margin-right: 3px;
}

.login-box button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: all 0.3s;

}
.login-box button:hover {
    background: #1f73c9;
    color: #fff;
}

.login-box .register-link {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.remember-forgot a,
.register-link a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover,
.register-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 460px){
    .container .login-box{
        width: 350px;
    }

    .login-box .input-box {
        width: 290px;
    }

}

@media (max-width: 360px) {
.container .login-box {
    width: 100%;
    height: 100vh;
    border: none;

}
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(0, 255, 115);
    display: flex;
    justify-content: space-between;
    align-items: center;

}